[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = ssh://git@ssh.github.com:443/tpope/vim-pathogen.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = ssh://git@ssh.github.com:443/kien/ctrlp.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = ssh://git@ssh.github.com:443/scrooloose/nerdtree.git
[submodule "bundle/vim-ps1"]
	path = bundle/vim-ps1
	url = ssh://git@ssh.github.com:443/PProvost/vim-ps1.git
[submodule "bundle/vim-sensible"]
	path = bundle/vim-sensible
	url = ssh://git@ssh.github.com:443/tpope/vim-sensible.git
[submodule "bundle/Zenburn"]
	path = bundle/Zenburn
	url = ssh://git@ssh.github.com:443/jnurmine/Zenburn.git
[submodule "bundle/Wombat"]
	path = bundle/Wombat
	url = ssh://git@ssh.github.com:443/vim-scripts/Wombat.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = ssh://git@ssh.github.com:443/tpope/vim-surround.git
[submodule "bundle/vim-speeddating"]
	path = bundle/vim-speeddating
	url = ssh://git@ssh.github.com:443/tpope/vim-speeddating.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = ssh://git@ssh.github.com:443/tpope/vim-repeat.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = ssh://git@ssh.github.com:443/altercation/vim-colors-solarized.git
